<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <script type="text/javascript">
    $( document ).ready(function() {
      $("#button").onclick(function(){
        alert('ưdưqdqưd ');
        console.log('áđá');
        $.ajax({
          url: 'http://localhost:5000/api',
          type: 'Put',
          data: $('file')[0].files[0],
          success: function(response){
            window.navigator.msSaveBlob(req.response, "PdfName-" + new Date().getTime() + ".pdf");
          },
          error: function(response){
            console.log('Error', response);
          }
        });
      });
    });
    </script>



    </form>
      <label class="custom-file">
        <input type="file" id="file" class="custom-file-input" required>
        <span class="custom-file-control"></span>
      </label>
      <button id="button" class="btn btn-primary" type="button" name="button">Send</button>
    </form>
  </body>
</html>
